In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('campaign_performance.csv')
df.head()

   campaign_id     ad_date platform  ad_spend  clicks  impressions
0         1000  2024-01-01    insta  21854.31    1360        25840
1         1001  2024-01-08    insta  37939.73    4272        38448
2         1002  2024-01-15    insta  12020.84     966        10626
3         1003  2024-01-22    insta   7613.76    3944        31552
4         1004  2024-01-29    insta  11429.01     630         6300

In [5]:
df['platform'].value_counts()

platform
insta            6
LinkedIn Ads     6
YT               4
LI               4
YouTube          3
YouTube Ads      3
Instagram        2
Instagram Ads    2
Name: count, dtype: int64

In [9]:
df['platform'] = df['platform'].replace({
    'insta': 'Instagram',
    'LinkedIn Ads': 'LinkedIn',
    'YT': 'YouTube',
    'LI': 'LinkedIn',
    'YouTube Ads': 'YouTube',
    'Instagram Ads': 'Instagram'
})

In [10]:
df['platform'].value_counts()

platform
Instagram    10
YouTube      10
LinkedIn     10
Name: count, dtype: int64

In [11]:
df.to_csv("campaigns.csv", index=False)

In [13]:
df = pd.read_csv('student_enrollments.csv')
df.head()

,student_id,signup_date,course_name,completion_percentage,source_campaign_id
0,2000,2024-01-01,Python for Data Science,27.88,1023
1,2001,2024-03-03,Python for Data Science,83.39,1016
2,2002,2024-01-08,Python for Data Science,75.61,1000
3,2003,2024-01-05,Python for Data Science,93.37,1025
4,2004,2024-02-10,Data Analytics 101,92.35,1008

In [14]:
df['course_name'].value_counts()

course_name
Python for Data Science    70
Machine Learning Basics    70
Data Analytics 101         60
Name: count, dtype: int64